# Ignore everything
*

# But not these files...
!.gitignore

!src
!src/
!src/**

!bin/

!build 
!build/
!build/**

!WebContent
!WebContent/
!WebContent/**

!libs
!libs/
!libs/**

!*.txt
!*.md
!*.sh
!*.py
!*.java
!*.docx

!doc/

# MAC HIDDEN FILES
.DS_Store
/build/
